.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  display: none;
}

@media (min-width: 600px) {
  .title {
    display: block;
  }
}

.main-content {
  flex: 1;
  padding: 16px;
}
