<!-- src/app/app.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="nav-list">
      <a mat-list-item class="sidebar" routerLink="/products">Products</a>
      <a mat-list-item class="sidebar" routerLink="/cart">Cart</a>
      <a mat-list-item class="sidebar" *ngIf="(afAuth.authState | async)" routerLink="/order">Order</a>
      <a mat-list-item class="sidebar" *ngIf="(afAuth.authState | async)" routerLink="/orders">Order History</a>
      <a mat-list-item class="sidebar" *ngIf="(afAuth.authState | async)" routerLink="/profile">Profile</a>
      <a mat-list-item class="sidebar" *ngIf="!(afAuth.authState | async)" routerLink="/login">Login</a>
      <a mat-list-item class="sidebar" *ngIf="!(afAuth.authState | async)" routerLink="/register">Register</a>
      <a mat-list-item class="sidebar" *ngIf="afAuth.authState | async" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Webshop</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
